p{
	color: #FFFAFA;
	padding-top: 20px;
	padding-left: 30px;
}

div{
	width: 300px;
	height: 150px;
}

#bloco1{
	background-color: #4B0082;
	border-radius: 20px; /*Cria todos os cantos arredondados*/
}

#bloco2{
	background-color: #A020F0;
	border-radius: 20px 50px; /*Cria cantos arredondados de formas opostas*/
}

#bloco3{
	background-color: #BA55D3;
	border-radius: 20px 50px 100px; /*Cria três cantos arredondados, sendo o quarto igual ao segundo*/
}

#bloco4{
	background-color: #7B68EE;
	border-radius: 20px 50px 100px 200px; /*Cria cantos arredondados distintos*/
}

#bloco5{
	background-color: #FF4500;
	border-top-left-radius: 20px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 35px;
}

