*{
	font-size: 100%;
}

/* Importando um arquivo de fonte */
@font-face{
	font-family: alexbrush-regular-webfont;
	src: url(../alexbrush-regular-webfont.woff);
}

#face{
	font-family: alexbrush-regular-webfont;
	font-size: 2.5em;
}

#google{
	font-family: "Indie Flower", cursive;
	font-size: 2.5em;
}